html {
    font-family: sans-serif;
}

:root {
    --color-white: #ffffff;
    --color-orange: #ff6900;
    --color-black: #1a1a1a;
    --color-red: #ff0000;
    --color-green: #008000;
}

.margin-80 {
    margin: 0 auto;
    width: 80%;
}

/* header */
header {
    background-color: var(--color-orange);

    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
}

.flex-row {
    display: flex;
    gap: 10px;
}

ul a {
    color: var(--color-white);
    font-size: 14px;
}

.header-flex {
    display: flex;
    justify-content: space-between;
    height: 50px;
    align-items: center;
}

div > svg {
    fill: var(--color-white);
    height: 20px;   
}

header figure {
    display: flex;
    justify-content: center;
}

/* main */
main {
    padding-top: 100px;
    padding-bottom: 50px;
}

.discount {
    color: var(--color-white);
    background-color: var(--color-red);
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.sustainability {
    color: var(--color-white);
    background-color: var(--color-green);
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.container {
    flex-basis: calc(100% / 3 - 10px);
}

.main-flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}

.img-container {
    position: relative;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.photo-1b {
    display: none;
}

figure:hover .photo-1 {
    cursor: pointer;
    display: none;
}

figure:hover .photo-1b {
    cursor: pointer;
    display: block;
}

.photo-2b {
    display: none;
}

figure:hover .photo-2 {
    cursor: pointer;
    display: none;
}

figure:hover .photo-2b {
    cursor: pointer;
    display: block;
}

.photo-3b {
    display: none;
}

figure:hover .photo-3 {
    cursor: pointer;
    display: none;
}

figure:hover .photo-3b {
    cursor: pointer;
    display: block;
}

.photo-4b {
    display: none;
}

figure:hover .photo-4 {
    cursor: pointer;
    display: none;
}

figure:hover .photo-4b {
    cursor: pointer;
    display: block;
}

.photo-5b {
    display: none;
}

figure:hover .photo-5 {
    cursor: pointer;
    display: none;
}

figure:hover .photo-5b {
    cursor: pointer;
    display: block;
}

.photo-6b {
    display: none;
}

figure:hover .photo-6 {
    cursor: pointer;
    display: none;
}

figure:hover .photo-6b {
    cursor: pointer;
    display: block;
}

.outlet {
    position: absolute;
    bottom: 50px;
}

.product-info {
    display: flex;
    flex-direction: column;
    gap: 2px;
    margin-top: 5px;
}

.product-name {
    text-transform: uppercase;
}

.new-price {
    color: var(--color-red)
}

.old-price {
    text-decoration: line-through;
}

.heart {
    position: absolute;
    top: 10px;
    right: 0;
}

.heart svg {
    fill: var(--color-black);
    height: 40px;
    background-color: var(--color-white);
    padding: 10px;
}

.heart svg:hover {
    fill: var(--color-red);
}

/* footer */
footer {
    background-color: var(--color-black);
    color: var(--color-white);
    font-size: 14px;
    height: 90px;
    padding: 20px;
    
    /* position: fixed;
    bottom: 0;
    z-index: 1;
    width: 100%; */
}

.footer-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}